@font-face {
    font-family: "metropolis";
    src: url("/fonts/Metropolis/Metropolis-Regular.woff") format(woff);
    font-style: normal;
    font-weight: normal;
}

$primary : #cd222d;
$secondary: #5a6f80;

body {
    font-family: sans-serif;
    font-size: 14px;
    min-width: 390px;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

/*  Header */
header {
    height: 50px;
    max-width: 100%;
    align-items: center;

    #sit-header-sub {
        max-width: 1200px;
        height: 45px;
        font-size: 15px;
    }

    #social-icon-div {
        float: right;
    }

    #social-icon-list {
        position: relative;
        top: 9px;
        margin-right: 1px;
        text-align: right;

        li {
            margin: 10%
        }
    }
}

#header-navbar {
    height: 90px;
    z-index: 2 !important;
    position: relative;

    #navbar-container {
        max-width: 1200px;
    }

    #image-logo {
        height: 80px;
        padding: 10px;
    }

    #web-name {
        font-weight: bolder;
        line-height: 20px;
        vertical-align: middle;
        margin-bottom: 5px;

        .name2 {
            font-size: 11px;
            text-transform: uppercase;
        }
    }

    a {
        font-size: 17px;
    }

    #home-navbar {
        color: $primary;
    }

    #donate-button {
        border: $secondary solid 2px;
        border-radius: 23px;
        padding-right: 25px;
        padding-left: 25px;
        transition: 300ms;
    }

    #donate-button:hover {
        background-color: $primary;
        border-color: #ffffff;
        color: #ffffff;
    }
}


/* --------main------- */



#sub-body {
    position: relative;
    top: 85px;
}


/* carousel */

#carousel-caritas {

    .carousel-item-1 {
        height: 681px;
        min-height: 680px;
        justify-content: flex-end;

        .carousel-image-1 {
            width: 100%;
            min-height: 680px;
            position: absolute;
            z-index: -1;
        }

        .desc-carousel {
            height: 520px;
            width: 700px;
            text-align: end;
            position: absolute;
            right: 0px;
            bottom: -2px;
            color: $secondary;
            background-color: #ffffff;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);

            .desc-carousel-subdiv {
                position: relative;
                bottom: -350px;
                right: 14%;

                .desc-carousel-h1 {
                    font-size: 50px;
                    font-weight: bold;
                }
            }
        }
    }

    .carousel-control-prev-icon-1,
    .carousel-control-next-icon-1 {
        opacity: 0;
        width: 80px;
        height: 80px;
        transition: 300ms;
        background-color: $secondary;
        background-size: 60%;
        border-radius: 50px;
    }
}

#carousel-caritas:hover {

    .carousel-control-prev-1,
    .carousel-control-next-1 {
        opacity: 1;

        .carousel-control-prev-icon-1,
        .carousel-control-next-icon-1 {
            opacity: 1;
        }

        .carousel-control-prev-icon-1:hover,
        .carousel-control-next-icon-1:hover {
            background-color: $primary;
        }
    }
}

/* welcome-section */

.welcome-section {
    position: relative;
    top: 85px;

    #container-welcome-box {


        flex-wrap: wrap;

        .welcome-box {
            max-width: 15%;
            border-radius: 30px;
            float: left;
            flex-direction: column;
            font-size: 24px;
            transition: all 500ms;

            .welcome-image {
                height: 128px;
                width: 128px;
                transition: 400ms;
            }
        }
    }


    .welcome-box:hover {
        box-shadow: #00000059 0px 5px 15px;

        .welcome-image {
            scale: 0.8;
        }
    }
}

/* our-story-section */

#our-story {
    background-color: #f0f8ff;
}

.our-story {
    background-color: #f0f8ff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;

    grid-template-areas:
        "images images story story"
        "images images mission stats";

    h1 {
        font-size: 45px;
        font-weight: 600;
    }

    p {
        font-size: 17px;
    }

    .our-image {
        grid-area: images;
        overflow: hidden;
        text-align: center;
        border-radius: 5% !important;

        .our-image-img {
            border-radius: 5% !important;
            object-fit: cover;
            margin: 0 -50%;
        }
    }

    .our-story-def {
        grid-area: story;
    }

    .our-mission {
        grid-area: mission;

        .bi-check {
            background-color: #f0f8ff;
        }
    }

    .our-stats {
        grid-area: stats;
        padding: 40px 70px;
        text-align: left;

        .h1-stat {
            font-size: 52px;
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 2px;
        }

        .h2-stat {
            font-size: 18px;
        }
    }
}


/* staff-section */

.staff-section {
    justify-content: center;
    padding: 100px 0 150px 0;

    .image-staff {
        width: 350px;
        height: 400px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;

        img {
            margin: -20% 0;
        }
    }

    .staff-desc {
        flex-direction: column;
        justify-content: flex-end;

        h1 {
            font-size: 46px;
        }

        h5 {
            font-weight: normal;
        }

        ul li a {
            padding: 9px 12px;
            border-radius: 100px;
            font-size: 14px;
            position: relative;
            top: -10px;
            transition: 300ms;
        }

        ul li a:hover {
            background-color: $primary !important;
        }
    }
}

/* separator-banner-section */

#separator-banner-section-div {
    background-color: #f0f8ff;
    overflow: hidden;

    .row-separator {
        max-height: 100px;

        #circle-separator-banner-1 {
            position: relative;
            top: -100px;
            left: -2%;
            background: $primary;
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }

        #circle-separator-banner-2 {
            position: relative;
            bottom: -50px;
            left: 44%;
            background: #f0f8ff;
            border-radius: 50%;
            width: 160px;
            height: 160px;
            border: $primary 20px solid;
        }
    }

    #separator-banner-section {
        max-height: 110px;
        font-size: 16px;

        .btn {
            padding: 12px 20px;
            border-radius: 200px;
            font-size: 18px !important;
            transition: 300ms;
        }

        .btn:hover {
            background-color: $primary
        }

        #impact-banner-section {
            margin-left: 7%;
        }

        #donator-banner-section {
            width: 45%;
        }
    }
}

/* Our-Causes-Section */

#our-causes-section {

    #card-container-our-causes-section {

        .card-our-causes-section {
            width: 32%;
            border: 0px;
            border-radius: 25px;
            overflow: hidden;
            transition: 300ms;

            .card-text {
                font-size: 17px;
            }

            .progress {
                height: 5px;
            }

            .card-footer {
                transition: 300ms;
                cursor: pointer;
            }

            .card-footer:hover {
                background-color: $primary !important;
            }
        }

        .card-our-causes-section:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}

/* Volunteer Section */

#volunteer-section {

    #volunteer-div {

        #volunteer-form {
            border-radius: 20px;

            #formu-div-sup {
                width: 100%;
                margin: 0;

                .formu-div {
                    width: 47%;
                    margin-top: 20px;
                    background-color: #f0f8ff;
                    border-radius: 5px;

                    input {
                        padding: 15px 0px;
                        border: none;
                        background-color: #f0f8ff;
                        outline: none;
                    }

                    #text-input-file::before {
                        content: 'Sube tu CV';
                        position: absolute;
                        margin-top: 15px;
                        cursor: pointer;
                    }

                    #input-file {
                        background-color: $primary;
                        opacity: 0;
                        display: inline-block;
                        cursor: pointer;
                    }
                }

                #symbol-upload {
                    position: relative;
                    right: 8%;
                    align-self: center;
                }
            }

            textarea {
                width: 100%;
                border: none;
                border-radius: 5px;
                background-color: #f0f8ff;
            }
        }

        #formu-btn {
            padding: 14px 0px;
            border-radius: 30px;
            transition: 300ms;
            font-weight: bold;
        }

        #formu-btn:hover {
            background-color: $primary;
        }
    }

    #formu-div-file {
        cursor: pointer;
    }

    #about-volunteer-div {

        align-self: center;

        img {
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

/* News-Section */

#news-div-sup {

    #news-div {

        .new-article {
            padding-top: 50px;

            .news-block-top {
                overflow: hidden;
                border-radius: 25px !important;
            }

            .news-category-block a {
                text-decoration: none;
                color: white;
                font-size: 15px;
            }

            h3 {
                cursor: pointer;
                transition: 200ms;
            }

            h3:hover {
                color: $primary;
            }

            p {
                color: #808080;
            }
        }
    }

    #news-bar {
        margin-top: 220px;
        width: 36%;

        #news-search {
            border-radius: 6px;
            background-color: #f0f8ff;

            input {
                background-color: #f0f8ff;
                border: 0px #f0f8ff;
                font-size: 18px;
                outline: none;
            }

            // apuntes

            i {
                position: relative;
                right: 2%;
                align-self: center;
            }
        }

        #news-recents-news {
            img {
                border-radius: 10px;
            }

            h6 a {
                color: #000000;
                text-decoration: none;
                cursor: pointer;
                transition: 200ms;
            }

            h6 a:hover {
                color: $primary;
            }

            p {
                color: rgb(136, 136, 136);
                font-size: 17px;
            }
        }

        #news-categories {

            #categories-list {
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: #5a6f80;
                    margin-top: 7px;
                    transition: 300ms;

                    span {
                        font-size: 10px;
                        font-weight: normal;
                    }
                }

                a:hover {
                    color: $primary;
                }
            }
        }

        #news-tags {

            a {
                display: inline-block;
                padding: 5px 12px;
                margin: 5px 10px;
                color: #5a6f80;
                border: #5a6f802d solid 1px;
                border-radius: 17px;
                text-decoration: none;
                transition: 200ms;
            }

            a:hover {
                border: #5a6f80 solid 1px;
            }
        }

        #new-newsletter-form {
            background-color: #f0f8ff;

            input {
                border: none;
                outline: none !important;
            }

            button {
                padding: 12px 10px;
                font-weight: 700;
                border-radius: 24px;
                background-color: #597081;
                transition: 300ms;
            }

            button:hover {
                background-color: $primary;
            }
        }
    }
}


/* Contact-section */

#contact-section {
    background-color: #f0f8ff;

    #contact-info-wrap {

        h2 {
            font-size: 46px;
        }

        img {
            width: 65px;
            height: 65px;
            border-radius: 100%;
            object-fit: cover;
        }

        .contact-info {
            border-top: #8080801a 1px solid;

            a {
                text-decoration: none;
                color: #597081;
            }
        }

        h5 {
            font-size: 24px;
        }

        button {
            border-radius: 30px;
            font-size: 15px;
            padding: 10px 13px;
            transition: 300ms;
        }

        button:hover {
            background-color: $primary;
        }
    }

    .contact-form {

        h2 {
            font-size: 46px;
        }

        p {
            color: #597081;

            a {
                text-decoration: none;
                color: #597081;
            }
        }
    }

    button {
        border-radius: 30px;
        font-size: 18px;
        padding: 10px 18px;
        transition: 300ms;
    }

    button:hover {
        background-color: $primary;
    }
}


/* footer */

.site-footer {
    background-color: #44525d;

    img {
        height: 100px;
    }

    div ul li {

        list-style-type: none;

        a {
            text-decoration: none;
            color: #ffffff;
            transition: 300ms;
            scroll-behavior: smooth;
        }

        a:hover {
            color: $primary;
        }
    }

    div p a {
        color: #ffffff;
        text-decoration: none;
    }

    button {
        background-color: #597081;
        border-radius: 30px;
        font-size: 15px;
        padding: 10px 18px;
        transition: 300ms;
    }

    button:hover {
        background-color: $primary;
    }

    .site-footer-bottom {
        height: 90px;

        ul {
            height: 35px;
        }

        div ul li {
            background-color: #44525d;
            padding: 10px 13px;
            margin-right: 4%;
            border-radius: 100%;
            align-self: center;
            transition: 300ms;
        }

        div ul li:hover {
            background-color: $primary;
        }
    }
}



/* --------------- Responsive ------------- */

@media (max-width: 1126px) {

    #about-li,
    #contact-li {
        display: none;
    }

    #carousel-caritas {

        .carousel-item-1 {
            .carousel-image-1 {
                object-fit: cover;
                object-position: 20%;
            }

            .desc-carousel {

                height: 400px;
                width: 500px;

                .desc-carousel-subdiv {
                    bottom: -280px;
                    right: 14%;

                    .desc-carousel-h1 {
                        font-size: 40px;
                    }
                }
            }
        }

        .carousel-control-prev-icon-1,
        .carousel-control-next-icon-1 {
            width: 65px;
            height: 65px;
        }
    }

    .welcome-section {

        #container-welcome-box {

            .welcome-box {
                max-width: 40%;
                border-radius: 30px;
                font-size: 22px;

                .welcome-image {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }

    .our-story {
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;

        grid-template-areas:
            "images images"
            "images images"
            "story story"
            "mission stats";

        .our-image {
            .our-image-img {
                object-fit: cover;
                max-height: none;
            }
        }
    }

    #separator-banner-section-div {
        #p-donacion {
            display: none;
        }

        #impact-banner-section {
            font-size: 28px !important;
        }
    }

    #volunteer-section {
        #volunteer-div {
            #volunteer-form {
                #formu-div-sup {

                    .formu-div {
                        width: 100vw;
                        margin-top: 20px;
                    }

                    #symbol-upload {
                        right: 0%;
                        justify-self: end;
                    }
                }
            }
        }

        #about-volunteer-div {
            margin-top: 150px !important;
            margin-bottom: 0px !important;

            img {
                height: 250px;
                width: 250px;
            }
        }
    }

    #news-div-sup {
        #news-bar {
            margin-top: 15vh;

            #news-search {

                #symbol-find {
                    right: 5%;
                    justify-self: end;
                }
            }

            #news-categories {

                #categories-list {
                    flex-direction: column;
                }
            }
        }
    }

    #li-footer {
        padding-left: 0px !important;
    }
}

@media (max-width: 768px) {
    .staff-section {
        padding: 50px 0 75px 0;
        flex-direction: column;
        justify-content: center;

        .image-staff {
            margin: 0 auto !important;
        }
    }

    #separator-banner-section-div {

        #separator-banner-section {}

        .row-separator {
            #circle-separator-banner-1 {
                width: 150px;
                height: 150px;
            }

            #circle-separator-banner-2 {
                width: 80px;
                height: 80px;
            }
        }
    }

    #our-causes-section {

        padding: 5px 0px !important;

        #card-container-our-causes-section {
            display: flex;
            flex-direction: column;

            .card-our-causes-section {
                width: 90%;
                margin-bottom: 30px;
                margin-left: 5%;
                margin-right: 5%;

                .card-text {
                    font-size: 16px;
                }
            }
        }
    }

    #volunteer-section {

        flex-direction: column-reverse;
        padding: 0 40px;

        #volunteer-div {
            #volunteer-div-h1 {
                display: none;
            }
        }

        #about-volunteer-div {
            margin-top: 0 !important;

            img {
                height: 300px;
                width: 300px;
            }
        }


    }

    #news-div-sup {
        flex-direction: column;

        #news-bar {
            margin-top: 5vh;
            width: 100%;
        }
    }

    .site-footer-bottom {
        height: 180px !important;
    }
}


@media (max-width: 576px) {

    #sit-header-sub {
        padding-top: 5px;
        min-height: 55px;
        flex-direction: column;
    }

    #web-name {
        display: none;
    }

    #carousel-caritas {

        .carousel-control-prev-icon-1,
        .carousel-control-next-icon-1 {
            width: 50px;
            height: 50px;
        }
    }

    .our-story {
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.8fr 0.8fr 0.8fr 0.8fr;

        grid-template-areas:
            "images"
            "images"
            "story"
            "mission"
            "stats";

        h1 {
            font-size: 30px;
        }

        .our-image {

            height: 500px;

            .our-image-img {
                object-fit: cover;
                max-height: none;
            }
        }

        .our-stats {
            text-align: center;
        }
    }

    #separator-banner-section-div {
        display: none;
    }

    #our-causes-section {
        background-color: #f0f8ff;
    }
}
