@font-face {
    font-family: "metropolis";
    src: url("/fonts/Metropolis/Metropolis-Regular.woff") format(woff);
    font-style: normal;
    font-weight: normal;
}

$primary : #cd222d;
$secondary: #5a6f80;

body {
    font-family: sans-serif;
    font-size: 14px;
    min-width: 390px;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

/*  Header */
@import './sections/header';

/* --------main------- */
@import './sections/main-section';

/* carousel */
@import './sections/carousel';

/* welcome-section */
@import './sections/welcome';

/* staff-section */
@import './sections/staff';

/* separator-banner-section */
@import './sections/separator';

/* Our-Causes-Section */
@import './sections/our-causes';

/* Volunteer Section */
@import './sections/volunteer';

/* News-Section */
@import './sections/news';

/* Contact-section */
@import './sections/contact';

/* footer */
@import './sections/footer';

/* --------------- Responsive ------------- */

@import './responsive/1126px';

@import './responsive/768px';

@import './responsive/576px';