#our-causes-section {

    #card-container-our-causes-section {

        .card-our-causes-section {
            width: 32%;
            border: 0px;
            border-radius: 25px;
            overflow: hidden;
            transition: 300ms;

            .card-text {
                font-size: 17px;
            }

            .progress {
                height: 5px;
            }

            .card-footer {
                transition: 300ms;
                cursor: pointer;
            }

            .card-footer:hover {
                background-color: $primary !important;
            }
        }

        .card-our-causes-section:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}